<div>
    <ul>
        <li>blabla1</li>
        <li>blabla2</li>
    </ul>
    <ol>
        <li>blabla1</li>
        <li>blabla2</li>
    </ol>
</div>
<p class="copyright">copyright <%=copyright%></p>